@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
} 

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
    
}  

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
a:hover{
    text-decoration: underline;
}
div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}
div > p{
    padding-top: 20px;
}

div.normal{
    background-color: white;
    color: black;
}

div.imagem{
    background-color: rgb(149, 148, 148);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.492);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    
    
}
div#img001{
    background-image: url('./imagens/background002.jpg');
    
    
}
div#img002{
    background-image: url('./imagens/background001.jpg');
    
}

div.imagem > p{
    background-color: rgba(0, 0, 0, 0.49);
    padding: 10px;
    display: inline-block;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}